<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.store.android.rw.haoduoyu">
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name="org.store.android.rw.haoduoyu.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:replace="android:icon,android:theme,android:allowBackup,android:supportsRtl"
        android:theme="@style/AppTheme">

        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.LoginActivity"/>
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyWareHouseActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyWalletActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyWalletDetailActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyIntegralDetailActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.ProductDetailsActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyOrderHistoryActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.WalletStoreActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.NotifyListActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.NotifyDetailsActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.AddresDetailsActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.RealNameActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.UserInfoActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.ChangePswActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"/>
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.RegisterActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.GroupListActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.PayOrderActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.EncryptActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.IntegralStoreActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.NeophyteActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.ExchangeHistoryActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.PayAccountActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.WebViewActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.MyCodeActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.QRCodeActivity" />
        <activity android:name="org.store.android.rw.haoduoyu.ui.activity.WelcomeActivity" />
    </application>

</manifest>